[submodule "foundry-nft-cu/lib/openzeppelin-contracts"]
	path = foundry-nft-cu/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry-nft-cu/lib/forge-std"]
	path = foundry-nft-cu/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-nft-cu/lib/foundry-devops"]
	path = foundry-nft-cu/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "foundry-merkle-airdrop-cu/lib/forge-std"]
	path = foundry-merkle-airdrop-cu/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-merkle-airdrop-cu/lib/foundry-devops"]
	path = foundry-merkle-airdrop-cu/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "foundry-merkle-airdrop-cu/lib/murky"]
	path = foundry-merkle-airdrop-cu/lib/murky
	url = https://github.com/cyfrin/murky
[submodule "foundry-merkle-airdrop-cu/lib/foundry-era-contracts"]
	path = foundry-merkle-airdrop-cu/lib/foundry-era-contracts
	url = https://github.com/cyfrin/foundry-era-contracts
[submodule "foundry-merkle-airdrop-cu/lib/openzeppelin-contracts"]
	path = foundry-merkle-airdrop-cu/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
